@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
.course-program{
background-color: white;
margin-bottom: 121px;
}
.lale3 {
    width: 905px;
    height: 93px;
    margin-left: 121px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 248px;
}

.l4 {
    width: 399px;
    height: 328px;
    left: 84px;

    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

.l5 {

    width: 399px;
    height: 328px;
    left: 520px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;

}

.box1 {
    display: flex;
}

.l6 {
    width: 399px;
    height: 328px;
    left: 956px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

h3 {
    width: 348px;
    height: 71px;
    left: 121px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin: 0cm;
}

.l7 {
    width: 365px;
    height: 63px;
    left: 89px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;

    color: #000000;
    margin: 0cm;

}

.box2 {
    display: flex;
    margin-top: 41px;
}

.l8 {
    width: 399px;
    height: 328px;
    left: 84px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

.l9 {
    width: 399px;
    height: 328px;
    left: 520px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

.l10 {
    width: 399px;
    height: 328px;
    left: 956px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

.l11 {
    width: 399px;
    height: 328px;
    left: 84px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

.l12 {
    width: 399px;
    height: 328px;
    left: 520px;


    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 37px;
}

.box3 {
    display: flex;
    margin-top: 41px;

}

@media screen and (max-width:1279px) and (min-width:992px) {
    .course-program{
        width: 834px;
        height: 900px;

    }
    .lale3 {

        width: 524.15px;
        height: 53.86px;
        margin-left: 70.08px;


        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;

        margin-top: 248px;
        color: #000000;
    }
    .box2 {
        display: flex;
        margin-top: 41px;
    }
    .box3 {
        display: flex;
        margin-top: 41px;
    }
    .box1 {
        display: flex;
        
    }
    .l4{
        /* width: 33%; */
height: 251px;
left: 48.65px;
margin-left: 37px;
background: #FFFFFF;
box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);

padding-left: 10px;


    }
    .l5{
        /* width: 33%; */
        height: 251px;
        left: 301.17px;
        margin-left: 37px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        
       
    }
    .l6{
        /* width: 33%; */
        height: 251px;
        left: 553.68px;
        margin-left: 37px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
       
      
    }
    .l7{
        width: 211.4px;
        height: 36.49px;
        left: 59.65px;
      
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        margin: 0cm;
        color: #000000;
       
    }
    .l8{
        /* width: 33%; */
        height: 251px;
        left: 48.65px;
        margin-left: 37px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
       
        
       
    }
    .l9{
        /* width: 33%; */
        height: 251px;
        left: 301.17px;
        margin-left: 37px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
       
       
    }
    .l10{
        /* width: 33%; */
        height: 251px;
        left: 553.68px;
        margin-left: 37px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        
       
    }
    .l11{
        /* width: 33%; */
        height: 251px;
        left: 48.65px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        
        margin-left: 37px;
       
    }
    .l12{
        /* width: 33%; */
        height: 251px;
        left: 293px;
        margin-left: 37px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
       
        }
    h3{
        width: 211.4px;
        height: 22.59px;
        left: 60.23px;
       
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
     margin: 0cm;
        
        color: #000000;
    }
}
@media screen and (max-width:991px) and (min-width:320px){
    .lale3{
        width: 421.7px;
height: 43.34px;
margin-left: 34px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 101.38%;
margin-top: 79px;
color: #000000;
    }
    .l4{
        width: 13%;
        height: 152.84px;
        left: 95px;
        margin-bottom: 80px;
        
    }
    .l5{
        width: 13%;
        height: 152.84px;
        left: 95px;
        margin-bottom: 80px;
       
    }
    .l6{
        width: 13%;
        height: 152.84px;
        left: 95px;
        margin-bottom: 80px;
       
    }
    .l7{
        width: 170.08px;
        height: 29.36px;
        left: 103px;
       
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
      
        
        color: #000000;
        
    }
    .l8{
        width: 13%;
height: 152.84px;
left: 95px;
margin-bottom: 80px;

    }
    .l9{
        width: 13%;
        height: 152.84px;
        left: 96px;
       
        margin-bottom: 80px;
    }
    .l10{
        width: 13%;
        height: 152.84px;
        left: 95px;
        
        margin-bottom: 80px;
    }
    .l11{
        width: 13%;
        height: 152.84px;
        left: 95px;
       
        margin-bottom: 80px;
    }
    .l12{
        width: 13%;
        height: 152.84px;
        left: 95px;
        margin-bottom: 80px;
     
        
    }
    h3{
        width: 170.08px;
        height: 18.17px;
        left: 104.32px;
      
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
   
        color: #000000;
    }
    .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
      


    }
    .box3 {
        display: flex;
       flex-direction: column;
       align-items: center;
     
    }
    .box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
}
