
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
.blue-side{
    position: relative; 

    width: 100%;
    height: 780px;
    background: #9DC9C8;
    left: -1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.begins{
    position: absolute;
width: 908px;
height: 66px;
left: 121px;
top: 209px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
}
.price {
    position: absolute;
    width: 481px;
    height: 181px;
    left: 121px;
    top: 329px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
}



.invite{
    position: absolute;
    width: 170px;
    height: 32px;
    left: 121px;
    top: 350px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    
}

.lovely {
    position: absolute;
    width: 294px;
    height: 32px;
    left: 121px;
    top: 484px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.null {
    position: absolute;
    width: 294px;
    height: 70px;
    left: 121px;
    top: 525px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


.invite {
    position: absolute;
    width: 322px;
    height: 32px;
    left: 485px;
    top: 484px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.webinar {
    position: absolute;
    width: 294px;
    height: 70px;
    left: 485px;
    top: 525px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}


.webinar{
position: absolute;
width: 294px;
height: 70px;
left: 485px;
top: 525px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 101.38%;
}
.price-tag{
    position: absolute;
width: 170px;
height: 32px;
left: 121px;
top: 350px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
}
@media screen and (min-width: 992px) and (max-width:1279px){
    .blue-side{
        position: relative;
        width: 834px;
        height: 451.75px;
        left: 0px;
      
        
        background: #9DC9C8;
    }
    .begins{
        position: absolute;
width: 525.88px;
height: 38.23px;
left: 70.66px;
top: 103.67px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 101.38%;
    }
    .price-tag{
        position: absolute;
width: 98.46px;
height: 18.53px;
left: 70.66px;
top: 173.17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 101.38%;
    }
    .price{
        position: absolute;
width: 278.58px;
height: 104.83px;
left: 70.66px;
top: 155.55px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 101.38%;
    }
    .lovely{
        position: absolute;
width: 170.28px;
height: 18.53px;
left: 70.66px;
top: 280.32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 101.38%;
    }
    .null{
        position: absolute;
width: 170.28px;
height: 40.54px;
left: 70.66px;
top: 304.06px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 101.38%;
    }
    .invite{
        position: absolute;
width: 186.49px;
height: 18.53px;
left: 281.47px;
top: 280.32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 101.38%;
    }
    .webinar{
        position: absolute;
width: 170.28px;
height: 40.54px;
left: 281.47px;
top: 304.06px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 101.38%;
    }
}
@media screen and (min-width: 320px) and (max-width:991px){
    .blue-side{
        position: relative;
width: 376px;
height: 363.46px;
left: -23px;


background: #9DC9C8;
    }
    .begins{
        position: absolute;
width: 224px;
height: 63px;
left: 34px;
top: 62px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 101.38%;
    }
    .price-tag{
        position: absolute;
width: 79.22px;
height: 14.91px;
left: 33.85px;
top: 147.33px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 101.38%;
    }
    .price{
        position: absolute;
width: 224.13px;
height: 84.34px;
left: 33.85px;
top: 135.3px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 101.38%;
    }
    .lovely{
        position: absolute;
width: 137px;
height: 14.91px;
left: 34.85px;
top: 233.53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 101.38%;
    }
    .null{
        position: absolute;
width: 138px;
height: 47px;
left: 34px;
top: 253px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 101.38%;
    }
    .invite{
        position: absolute;
width: 151px;
height: 14px;
left: 203px;
top: 233.53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 101.38%;
    }
    .webinar{
        position: absolute;
width: 140px;
height: 38px;
left: 203px;
top: 253px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 101.38%;         
    }
}