.wrapper{
    background-color: white;
    position: relative;
    left: 121 px;
}
.humay{
    width: 667px;
    height: 93px;
    margin-left: 121px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    
    }
    
    .humay2{
        display: flex;
    }
    .humay1{
    width: 150px;
    height: 39px;
    margin-left: 122px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    
    color: #1E4681;
    }
    p{
    
    width: 223px;
    height: 39px;
    margin-left: 122px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
    
    }